.links table{
    width:80%;
   
}

.links td{

    color:white;
    text-align:center;
    background-color:#D58FFF;
    font-size:20"
}

.h1{
    text-align:center;
    color:black;
    font-size:30
}